<!-- <h1>Let's count it!</h1>
  <div>
    <h2>Add player</h2>
    <a href="">button</a>
    <h2>Add Match</h2>
    <a href="">button</a>
    <h2>Meet players</h2>
    <h2>Take me to the ranking page</h2>
    <a href="">button</a>
  </div>
  <div>
  <h1>Some links here</h1>
  -->

  <!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= stylesheet_link_tag 'application', media: 'all',
                                           'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.min.js">
      </script>
    <![endif]-->
  </head>
  <body>
    <header class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">
        <%= link_to "sample app", '#', id: "logo" %>
        <nav>
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to "Add player WELCOME",   '#' %></li>
            <li><%= link_to "Add match",   '#' %></li>
            <li><%= link_to "Meet players", '#' %></li>
            <li><%= link_to "Take me to the ranking page", '#' %></li>
          </ul>
        </nav>
      </div>
    </header>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
